<%- include("partials/header"); -%>

<h1>This is my personal blogging website!</h1>

<p> <%= startingContent%> </p>

<%posts.forEach(function(post){%>
<h3><a href="posts/<%=post.title%>"><%= post.title%></a></h3>
 <p> <%= post.content.substring(0,99)+" ..."%>
<a href= "/posts/<%=post.title%>">Read More</a>
 </p>
<%});%>








<a class="btn btn-primary btn-lg np" href="compose" role="button">New Blog Post</a>


<%- include("partials/footer"); -%>
